.rules{
    color: white;
  }


.rules-list{
  font-size: 2rem;
  line-height: 5;
  text-align: left;
}

.rulesTitle{
  text-align: center;
}

/* Description list styles */
/* dd,
dt {
  line-height: 1.5;
}

dt {
  font-weight: bold;
} */