h1{
  text-align: center;
  color: white;
}

.scoreboard {
  background-color: blue;
  border-collapse: collapse;
  max-width: 900px;
  width: 100%;
  margin: 2rem auto;
  color: white;
}

.scoreboard th, .scoreboard td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;

}